@model Colony.Modules.Events.Areas.Models.SearchItemsViewModel


<nav class="tabs" role="navigation">
    <ul>
        <li>
            <a href="/search/?keywords=@Server.UrlEncode(Model.Keywords)">Products</a>
        </li>
        @*<li>
            <a href="/search/blog/?keywords=@Server.UrlEncode(Model.Keywords)">Blog Articles</a>
        </li>
        <li>
            <a href="/search/events/?keywords=@Server.UrlEncode(Model.Keywords)" class="selected">Events</a>
        </li>*@
        <li>
            <a href="/search/faqs/?keywords=@Server.UrlEncode(Model.Keywords)">FAQs</a>
        </li>
        <li>
            <a href="/search/videos/?keywords=@Server.UrlEncode(Model.Keywords)">Videos</a>
        </li>
    </ul>
</nav>


<aside class="sideCol leftCol">
    <a href="#" class="toggleFilters button show-for-small">Filter Products</a>

    <section id="productFilters" class="medium">
        <header class="header-reveal-modal">
            <h2>Event Filters</h2>
            <a class="close-reveal-modal icon-remove">
                <span>Close</span></a>
        </header>
        <div class="bd-reveal-modal">
            <form action="" class="filterAccordion postbackSearch" id="eventSearch">

                <fieldset class="boxSection filterTags">
                    <div class="header">
                        <a href="#" class="toggle-filterAccordion">
                            <h2>Name or keyword</h2>
                        </a>
                        <a href="#" class="clearFilter">Clear</a>
                    </div>
                    <div class="content-filterAccordion">
                        <div class="details">
                            <div class="field tagpicker ">
                                <label for="eventKeywords">
                                    Enter tag name
                                </label>

                                <div class="tagpickerSearch">
                                    <select name="keywords" id="eventKeywords">
                                        @if (!Model.Keywords.IsNullOrEmpty())
                                        {
                                            foreach (var keyword in Model.Keywords.Split(' '))
                                            {
                                                <option value="@keyword" id="opt_@keyword" class="selected" selected="selected">@keyword</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</aside>

<div id="content">
    <h1>Events</h1>
    <div class="alertInfo message">
        Showing results for <strong>"@Model.Keywords"</strong>.
    </div>

    @if (Model.Events.Any())
    {
        <section class="moduleSection events">
            @{ Html.RenderPartial("_EventsList", Model.Events); }
        </section>
    }
    else
    {
        <div class="alertInfo message">Your search did not return any results.</div>
    }
</div>