@model WalkerGreenbank.Modules.PressMembers.Areas.PressMembers.Models.DownloadViewModel
@{
    ViewBag.Title = "Your Request is awaiting approval";
}
<div id="content">
    <h1>@ViewBag.Title</h1>

    <h2>High resolution images</h2>

    <p>Thank you for submitting your request - we will be in touch shortly.</p>
    <p>
        If you require further assistance, please don't hesitate to <a href="/contact-us/">contact us</a>.
    </p>

</div>