@model WalkerGreenbank.Modules.PressMembers.Areas.PressMembers.Models.DownloadViewModel
@{
    ViewBag.Title = "Your Request has expired";
}
<div id="content">
    <h1>@ViewBag.Title</h1>

    <h2>High resolution images</h2>

    <p>You have requested to download high resolution images, however, your request has now expired. Please re-submit your request.</p>

</div>