
@{
    ViewBag.Title = "Thank you for your order";
}
<h1>@ViewBag.Title</h1>

    <div class="boxSection b2b">
        <div class="header">
            <h2>Order Payment failed</h2>
        </div>
    </div>

<div class="contentForm">
    <div class="field formControls">
        <a href="/b2b-members/webtex/" class="button">
            <span>Return to Trade Area</span></a>
    </div>
</div>