<div class="wall feet " data-id="feet_wall_">
    <div class="roll-measure-50">
        <div class="feet-label"><label>Wall width in feet and inches</label></div>
        <div class="form-group col-sm-6">
            <input class="widthFeet roll" type="text" placeholder="feet" name="measure" />
        </div>
        <div class="form-group col-sm-6">
            <input class="widthInch roll" type="text" placeholder="inches" name="measure" />
        </div>
    </div>
    <div class="roll-measure-50">
        <div class="feet-label"><label>Wall height in feet and inches</label></div>
        <div class="form-group col-sm-6">
            <input class="heightFeet roll" type="text" placeholder="feet" name="measure" />
        </div>
        <div class="form-group col-sm-6">
            <input class="heightInch roll" type="text" placeholder="inches" name="measure" />
        </div>
    </div>
</div>
