
<div class="wall inches " data-id="inches_wall_">
    <div class="form-group col-sm-6">
        <label>Wall width in inches</label>
        <input class="width roll" type="text" placeholder="width in inches" name="measure" />
    </div>
    <div class="form-group col-sm-6">
        <label>Wall height in inches</label>
        <input class="height roll" type="text" placeholder="height in inches" name="measure" />
    </div>
</div>

