<div class="wall metres " data-wall="metres_wall_">
    <div class="form-group col-sm-6">
        <label>Wall width in metres</label>
        <input class=" width roll" type="text" placeholder="width in metres" name="measure"/>
    </div>
    <div class="form-group col-sm-6">
        <label>Wall height in metres</label>
        <input class="height roll" type="text" placeholder="height in metres" name="measure" />
    </div>
</div>
