<ul class="iconGroup">
    <a href="https://www.facebook.com/StyleLibraryHome/" target="_blank"><li class="fa-facebook"></li></a>
    <a href="https://twitter.com/mystylelibrary" target="_blank"><li class="fa-twitter"></li></a>
    <a href="https://www.pinterest.com/stylelibrary/" target="_blank"><li class="fa-pinterest"></li></a>
    <a href="https://www.instagram.com/style.library/" target="_blank"><li class="fa-instagram"></li></a>
    <!-- <li class="fa-snapchat-ghost"></li> -->
</ul>

