@charset "UTF-8";

.content .form-header { border-bottom: 1px solid white; }

.content .form-header h3 { padding: 10px 0; }

.content .fieldSet, .content fieldset {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}

.content .field {
    display: block;
    margin: 0 0 20px 0;
    position: relative;
    text-shadow: 0px 1px white;
}

.content .field input, .content .field textarea, .content .field select {
    border-radius: 6px;
    color: #999;
    font-size: 14px;
    margin: 0;
}

.content .field input, .content .field textarea {
    -moz-border-radius: 6px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0.5em;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
    background: #FBFBFB;
    border: 1px solid #D0D0D0;
    line-height: 16px;
    padding: 10px 15px;
}

.content .field.upload input { display: none; }

.content .field.checkbox label {
    float: left;
    line-height: 25px;
    margin: 0 0 0 15px;
}

.content .field.option {
    background: #fbfbfb;
    border: 1px solid #d0d0d0;
    padding: 10px 20px 0px 20px;
}

.content .field.option h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    margin: 10px 0 10px 0;
    padding-bottom: 13px;
}

.content .field.option ul {
    margin: 15px 0 0 0;
    padding: 0;
}

.content .field.option ul li {
    list-style: none;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.content .field.option ul li input { float: left; }

.content .field.option ul li label {
    float: left;
    line-height: 25px;
    margin: 0 0 0 15px;
}

.content .field.select select {
    height: 40px;
    line-height: 13px;
}

.content .field.textarea label { line-height: 30px; }

.content .field.textarea .charCounter {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #1cdf65;
    border: 1px solid #2fa45b;
    border-radius: 3px;
    color: #fff;
    margin: 0 0 0 10px;
    padding: 5px;
    text-shadow: none;
    transition: all 0.1s;
}

.content .field.textarea .charCounter.limitNear {
    background-color: #e89d3b;
    border-color: #c6760f;
}

.content .field.textarea .charCounter.exceeded {
    background-color: #e83b3b;
    border-color: #a42f2f;
}

.fieldSet, fieldset {
    background: #f8f8f8;
    background: #eeeff1;
    border: 1px solid #dfe2e5;
    /* .field.option {
       padding: 20px 20px 20px 20px;
       background: #fbfbfb;
       border: 1px solid #d0d0d0;
       h3 {
           border-bottom: 1px solid #e5e5e5;
           margin-top: 0px;
           padding-bottom: 15px;
       }
       .icon-question-sign { 
           top: -1px;
           right: -1px;
           border-bottom-left-radius: 6px!important;
           border-bottom-right-radius: 0px!important;
       }
   }*/
}

.fieldSet .icon-exclamation-sign, fieldset .icon-exclamation-sign {
    color: #af0000;
    margin-left: 3px;
    margin-right: 5px;
    text-shadow: -1px solid #ea2a2a;
}

.fieldSet .field, fieldset .field {
    /*.radioList {
            margin: 20px 0 0 0;
            padding: 0;
            list-style: none;

            li {
                list-style: none;
                margin-bottom: 14px;
                label {
                    position: absolute;
                    margin: 6px;
                    color: #999;

                }
            }
        }*/
}

.fieldSet .field .errorWrapper, fieldset .field .errorWrapper {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.fieldSet .field .icon-question-sign, fieldset .field .icon-question-sign {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    font-size: 28px;
    height: 40px;
    margin-right: 0px;
    padding: 2px;
    padding: 5px 8px;
    position: absolute;
    right: 0px;
    width: 40px;
    z-index: 1;
}

.fieldSet .field .answer, fieldset .field .answer {
    border-radius: 8px;
    bottom: 0px;
    display: none;
    font-size: 12px;
    padding: 20px 20px 20px 20px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    text-align: left;
    width: 300px;
    z-index: 1;
}

.fieldSet .field .answer .icon-question-sign, fieldset .field .answer .icon-question-sign { bottom: -2px; }

.fieldSet .field .inputContainer, fieldset .field .inputContainer {
    display: block;
    min-height: 40px;
}

.fieldSet .field .inputContainer label, fieldset .field .inputContainer label {
    color: #999;
    display: none;
    float: left;
    font-size: 16px;
    margin-bottom: 6px;
}

.fieldSet .field.text input, fieldset .field.text input {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 40px;
    width: 100%;
}

.fieldSet .field.upload input, fieldset .field.upload input { diplay: none; }

.fieldSet .actions .button, fieldset .actions .button {
    font-size: 14px;
    padding: 18px 36px;
}

/*
#dropdown-select {
  height: 40px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 38px;
  border-bottom-left-radius:6px;
  border-top-left-radius:6px;
  select {
      background: transparent;
      width: 103%;
      border: 0;
      height: 40px;
      display: inline-block;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding-left: 20px;
    }
}
 
.lt-ie8 #dropdown-select {
  width: auto;
  height: auto;
  overflow: auto;
  background: none;
  border: 0;
  select {
    padding-top: 0;
      background: auto;
      width: 100%;
    }
}
 
  */

q:before, q:after { content: ''; }

:focus { outline: none; }

input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -webkit-border-radius: 0.25em;
    -webkit-box-shadow: 1px 1px 1px #fff;
    background: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#fbfbfb));
    border: 1px solid #c0c0c0;
    border-radius: 20px !important;
    color: #2e3134 !important;
    cursor: pointer;
    display: block;
    display: inline-block;
    font-size: 16px;
    height: 25px;
    line-height: 1em;
    margin: 0 0.1em 0 0;
    padding: 3px 5px !important;
    vertical-align: text-top;
    width: 25px;
}

input[type=checkbox] {
    border-radius: 5px !important;
    padding: 3px 5px !important;
}

input[type=radio] {
    -webkit-border-radius: 2em;
    /* Make radios round */
}

input[type=checkbox]:checked::after {
    content: "\2713";
    display: block;
    font-size: 22px;
    height: 16px;
    line-height: 20px;
    text-align: center;
}

input[type=radio]:checked::after {
    content: "\2022";
    display: block;
    font-size: 36px;
    height: 16px;
    line-height: 17px;
    text-align: center;
}

/*********** UPLOAD BUTTON AND DROP DOWN STYLES *************************************/

.ie9 input[type="text"] { line-height: normal; }

div.dropdown {
    border: 1px solid #cfcfcf;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 39px;
    width: 100%;
}

div.dropdown .iconDrop {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
}

div.dropdown select {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 8px 18px 9px 18px;
    width: 100%;
}

.ie7 div.dropdown { border: none; }

.ie7 div.dropdown select {
    padding: .3em .5em;
    width: 100%;
}

input[type="file"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 40%;
}

input[type=file]::-webkit-file-upload-button {
    -webkit-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 0;
}

input[type="file"]:after {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: solid 1px #cccccc !important;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    content: 'Upload File';
    display: inline-block;
    left: 100%;
    margin: 0 0 0 .5em;
    padding: .3em .5em;
    position: relative;
}

input[type="file"]:active:after { box-shadow: none; }

/*
 * jQuery File Upload UI Plugin CSS 8.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0) scale(4);
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle { margin-bottom: 5px; }

.progress-animated .bar {
    background: url(../img/progressbar.gif) !important;
    filter: none;
}

.fileupload-loading {
    background: url(../img/loading.gif) center no-repeat;
    background-size: contain;
    display: none;
    float: right;
    height: 32px;
    width: 32px;
}

.fileupload-processing .fileupload-loading { display: block; }

@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span { display: none; }

    .files .name {
        width: 80px;
        word-wrap: break-word;
    }
}

/*********** UPLOAD BUTTON AND DROP DOWN STYLES *************************************/

.ie9 input[type="text"] { line-height: normal; }

div.dropdown {
    border: 1px solid #cfcfcf;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 39px;
}

div.dropdown .iconDrop {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
}

div.dropdown select {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 8px 18px 9px 18px;
    width: 105%;
}

.ie7 div.dropdown { border: none; }

.ie7 div.dropdown select {
    padding: .3em .5em;
    width: 100%;
}

input[type="file"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 40%;
}

input[type=file]::-webkit-file-upload-button {
    -webkit-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 0;
}

input[type="file"]:after {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: solid 1px #cccccc !important;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    content: 'Upload File';
    display: inline-block;
    left: 100%;
    margin: 0 0 0 .5em;
    padding: .3em .5em;
    position: relative;
}

input[type="file"]:active:after { box-shadow: none; }