// ---------------- Fonts ----------------

$icon-size: 18px;

$font-size-large: 20px;
$font-size-medium: 14px;
$font-size-small: 12px;

$font-weight-heavy: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

// ---------------- Spacings ----------------

$padding-large: 20px;
$padding-medium: 10px;
$padding-small: 5px;

$margin-large: 20px;
$margin-medium: 10px;
$margin-small: 5px;

// ---------------- Colours ----------------

$color-action: #000;

$color-dark3: #999;
$color-dark2: #58595b;
$color-dark1: #222;

$color-light3: #fff;
$color-light2: $seashell;
$color-light1: #eee;

$color-success: #66bb6a;
$color-warning: #ffa726;
$color-error: #ef5350;


