.menu-wrapper {
    height:100%;
    float:left;
    width:100%;
}

/* mini reset */
.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}
.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
}

/* menu container */
.nav {
  cursor: default;
  float:left;
  z-index: 500;
  width:100%;
  height:100%;
}

/* menu list */
.nav > li {
    height:100%;
  float: left;
}

/* menu links */
.nav > li > a {
  font-size: 15px;
  color: #fff;
  font-weight:300;
  letter-spacing:0.5px;
  text-transform:uppercase;
  padding:0 15px;
  display: block;    
  position: relative;  
  transition: all .3s ease;
  z-index: 510;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.nav > li > a:focus,
.nav > li:hover > a {
  background: $seashell;
  color:$scorpion;
}
.nav > li:first-child > a {
}

@media only screen and (max-width: 1024px) {
    .nav > li > a {
        font-size: 14px;
    }
}

/* menu dropdown */
.mega-menu {
  background: $seashell;
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  left:0px;
  top:75px;
  transition: all .3s ease .15s;
  visibility: hidden;
  width: 100%;
  padding:20px;
  justify-content:center;
  display:flex;
  min-height:290px;
}

.mega-menu-inner {
    width:100%;
    max-width: 1180px;    
    float:left;
    position:relative
}

li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
  -webkit-transition-delay: .35s;
  transition-delay: .35s;
}

/* menu content */
.nav-column {
  float: left;
  padding: 2.5%;
  width: 20%;
}
.nav-column a {
  color: #888;
  display: block;
  font-weight: bold;
  line-height: 1.75;
}
.nav-column a:hover {
  color: #2196f3;
}
.highlight {
  color: #2196f3;
}