/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 11;
    padding: $padding-large;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: $overlay;
}
/* Modal Content */
.sl-modal-popup {
    background-color: $light-1;
    margin: auto;
    width: 100%;
    max-width: 800px;
    /*display: none;*/
    border-radius: $radius-base;
    overflow: hidden;

    header {
        float: left;
        width: 100%;
        background: inherit;
        position: relative;
        padding: $padding-base;

        h1 {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: $padding-base 43px $padding-base $padding-base;
        }

        .sl-close {
            float: right;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            width: auto;
            background: $light-1;
            padding: $padding-base;
        }

        .sl-close:focus,
        .sl-close:hover {
            opacity: 1;
        }
    }

    .sl-modal-content {
        width: 100%;
        float: left;
        padding: $padding-base;
    }
}

//Shop the Look Pop-up

.sl-ShopTheLook-modal {
    header {
        margin-bottom: 0px;
        padding-bottom: 0px;

        h1 {
            text-overflow: inherit;
            padding-top: 0px;
        }
        .sl-close {
            top: 2px;
        }
    }
    .sl-modal-content {
        .stl-details {
            h2 {
                margin: -2px 0px 2px 0px;
                font-size: 19px;
            }
            span {
                padding: 0px 0px 2px 0px; 
                line-height: 18px;      
            }
            span:nth-of-type(4) {
                padding: 14px 0px 2px 0px; 
                display: none;
            }
         }
        .stl-action {
            a {
                padding:10px;
            }
        }
    }
}

/*sl-share-popup*/
.share-wrapper {
    max-width:1160px;
    margin:0 auto;
    height:200px;

    .sl-share-popup {
        background-color: #fff;
        margin-top: 193px;
        margin-right: 0px;
        float:right;
        min-width: 400px;
        max-width: 400px;
        border-radius: 0px;
        overflow: hidden;
        height: 115px;
        position: relative;

        .sl-icon-list .sl-icon .sl-icon-inner{
            padding: 5px;
            }   
         
        header {
            float: left;
            width: 100%;
            background: inherit;
            padding: 5px;

            h1 {
                width: 50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0px 43px 0px 10px;
            }

            .sl-close {
                float: right;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 0px;
                width: auto;
                background: #fff;
                padding: 0px;
            }
        }
    }
}

    @media screen and (max-width: 768px) {
        .share-wrapper {
            .sl-share-popup {
                margin: 100px auto;
                float:inherit;
                min-width:240px;
                }
        }
    }
