@{
    Layout = "";
}

<div class="row">
    <div class="small-12 medium-8 columns">
        <div class="page-content">
            <h1 class="show-for-sr">Payment</h1>

            <div class="callout secondary large">
                <h2 class="h3-size">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    Safe &amp; Speedy Shopping
                </h2>
                <p>
                    Our checkout is 100% secure and we use the latest technologies to ensure your details are safe. We'll only ask you to enter the details we need to complete your order so within a few minutes you'll be all done and we can start preparing your delivery.
                </p>
            </div>

        </div>
        <div class="row show-for-medium">
            <div class="large-12 columns">
                <a href="@Url.Action("Summary", "Basket", new {area = "ShopPurchase"})" class="button hollow small">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Back to Basket
                </a>
            </div>
        </div>

    </div>
    <div class="small-12 medium-4 columns">
        @Html.Action("Basket", "Basket", new { area = "ShopPurchase", isCheckout = true })
    </div>
</div>