<!-- Begin Bazaarvoice Curations Embed Code -->
<script type="text/javascript">

    BVWidgets.display({});
</script>
<div id="SearchResults" name="SearchResults">

    <div id="curations-container-name"></div> <!-- The curations gallery will display where ever this code is included. -->
    <!-- End Bazaarvoice Curations Embed Code -->


    <div id="bv-grid"></div>
    <!-- End Bazaarvoice Curations Embed Code -->
</div>