@using StackExchange.Profiling;
<!doctype html>
<html>
    <head>
		<title>Colony .NET</title>
		<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" /> 
		<meta name="apple-mobile-web-app-capable" content="yes">
        @*@MiniProfiler.RenderIncludes()*@
        @Styles.Render("~/Content/ColonyCMS/css")
		<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
		<script data-main="/Scripts/ColonyCMS/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.6/require.min.js"></script>
	</head>
	<body>	
		<div id="header" class="gradient-dark"><a id="logo" href="#"><span></span></a><div id="topnav"><div class="site-selector"></div><div class="language-selector"></div>&#160;<a class="icon-cog no-text" id="colonySettings"><span>Colony Settings</span></a><a class="icon-lock no-text" id="colonySecurity"><span>Security</span></a><a class="icon-envelope-alt no-text" id="colonyInbox"><span>Inbox</span></a><div id="colonyUser"></div></div></div>
        <div id="statusBar"></div>
		<nav id="nav" class="gradient-dark "></nav>
	    <div id="container"><div class="content contentForm"></div></div>
	</body>
</html>