@model Colony.CMS.Areas.Members.ViewModels.ChangePasswordInputViewModel
@using (Html.BeginForm("ChangePassword", "AccountArea", new {area = "AccountArea"}))
{
    @Html.AntiForgeryToken()

    <h2>Change your password</h2>

    @Html.EditorForModel()

    <div class="field formControls">
        <button class="button">Save changes</button>
    </div>
}