<script type="text/javascript">
    $(document).ready(function () {
        $('#fullpage').fullpage({
            navigation: true,
            navigationPosition: 'left',
            navigationTooltips: ['First page', 'Second page', 'Third page', 'Last page']

        });

    });
</script>
<div id="fullpage">
    <div class="section active" id="section0">
        <div class="fullpageColumn column01">
            <div class="fullpageBlockItem block01">
                <a class="fullLink" href="/media/zoffany-phaedra-artistry-revealed/">
                  <div class="playVideoCaption fa-play"></div>
                  <video autoplay muted loop class="morVideo" poster="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Zoffany-Homepage/Sep-16-full/Phaedra.jpg">
                      <source src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Zoffany-Homepage/Sep-16-full/ZoffanyPhaedra.mp4" type="video/mp4">
                  </video>
                </a>
            </div>
        </div>
    </div>

    <div class="section" id="section1">
        <div class="fullpageColumn column02">
            <div class="fullpageBlockItem block03">
                <a class="fullLink" href="/shop/fabric/phaedra-fabrics/"></a>
                <div class="gridCaption">PHAEDRA FABRICS</div>
            </div>
        </div>
        <div class="fullpageColumn column03 non-mobile">
            <div class="fullpageBlockItem block04">
                <a class="fullLink" href="~/shop/wallpaper/phaedra-wallpapers/"></a>
                <div class="gridCaption">PHAEDRA WALLCOVERINGS</div>
            </div>
        </div>
    </div>

    <div class="section" id="section2">
        <div class="fullpageColumn column04 non-mobile">
            <div class="fullpageBlockItem block06">
                <a class="fullLink" href="~/shop/furniture/"></a>
                <div class="gridCaption">CURATOR FURNITURE</div>
            </div>
        </div>
        <div class="fullpageColumn column05">
            <div class="fullpageBlockItem block07">
                <a class="fullLink" href="~/paint/"></a>
                <div class="gridCaption">PAINT</div>
            </div>
            <div class="fullpageBlockItem block09 mobileOnly">
                <a class="fullLink" href="~/shop/fabric/edo-fabrics/"></a>
                <div class="gridCaption">EDO FABRICS</div>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="fullpageColumn column06">
            <div class="fullpageBlockItem block08">
                <a class="fullLink" href="~/shop/wallpaper/akaishi-wallcoverings/"></a>
                <div class="gridCaption">AKAISHI WALLCOVERINGS</div>
            </div>
        </div>
        <div class="fullpageColumn column07 desktopOnly">
            <div class="fullpageBlockItem block09">
                <a class="fullLink" href="~/shop/fabric/edo-fabrics/"></a>
                <div class="gridCaption">EDO FABRICS</div>
            </div>
        </div>
    </div>
</div>
