<aside class="sideCol leftCol">
<a href="#" class="toggleFilters button show-for-small">Filter Products</a>
<div class="filterAccordion">
<section id="productFilters" class="medium">
<header class="header-reveal-modal">
    <h2>Product Filters</h2>
    <a class="close-reveal-modal icon-remove"><span>Close</span></a>
</header>
<div class="bd-reveal-modal">
<form action="" class="filterAccordion" id="searchProducts" novalidate="novalidate">
                    <input type="hidden" id="searchHandle" value="<%= rc.model.SearchHandle %>" />
                    <input type="hidden" id="answerHandle" value="<%= rc.model.AnswerHandle %>" />
<input type="hidden" name="searchTerms" id="searchTerm" value="<%= rc.model.SearchTerms %>"/>
    <input type="hidden" name="LastSearchPage" id="LastPage" value="<%= rc.model.LastPage %>" />
<% if (rc.model.IsProductGroupFilterVisible && rc.model.ProductGroup.length > 0) { %>
<section class="boxSection filterCategory filterProductGroup accordion-always-open">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Product Type</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <legend>Filter by Product Type</legend>
            <h3>Filter by Product Type</h3>
            <ul>
                <% _.each(rc.model.ProductGroup, function(item) { %>

                <% if (_.contains(rc.model.SelectedProductGroups, item.CelebrosId.toString()) === true) { %>
                <li data-order="<%=item.Order%>">
                                        <input type="checkbox" name="SelectedProductGroups" id="productGroup_filterCategory_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="productGroup_filterCategory_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)<% if (item.CelebrosId.toString() == "2979") { %> - <i><strong>buy online</strong></i> <% } else { if (item.CelebrosId.toString() == "2981" || item.CelebrosId.toString() == "2982") { %> - <i>samples</i> <% } else {%> <%}}%></span>
                    </label>
                </li>
                <% } else { %>
                <li data-order="<%=item.Order%>">
                                        <input type="checkbox" name="SelectedProductGroups" id="productGroup_filterCategory_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="productGroup_filterCategory_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)<% if (item.CelebrosId.toString() == "2979") { %> - <i><strong>buy online</strong></i> <% } else { if (item.CelebrosId.toString() == "2981" || item.CelebrosId.toString() == "2982") {%> - <i>samples</i> <%} else {%>  <%}}%></span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<fieldset class="boxSection filterTags">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Name or keyword</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <div class="details">
            <div class="field tagpicker">
                <label for="keywords">
                    Enter tag name
                </label>
                <div class="tagpickerSearch">
                    <select name="keywords" id="keywords">
                        <% if (rc.model.Keywords != null) { %>
                        <% _.each(rc.model.Keywords.split(' '), function(keyword) { %>
                        <option value="<%=keyword%>" id="Option1" class="selected" selected="selected"><%=keyword%></option>
                        <% }); %>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<% if (rc.model.Colours.length > 0) { %>
<section class="boxSection filterCategory filterColours">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Colour</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by Colour</legend>
            <h3>Filter by Colour</h3>
            <ul>
                <% _.each(rc.model.Colours, function(colour) { %>
                <li>
                    <% if (_.contains(rc.model.SelectedColours, colour.CelebrosId) === true) { %>
                                        <input type="checkbox" name="SelectedColours" value="<%=colour.CelebrosId%>" id="SelectedColours_<%=colour.CelebrosId%>" checked="checked" />
                    <label for="SelectedColours_<%=colour.CelebrosId%>" class="selected">
                        <span><%=colour.Name%> (<%=colour.RecordCount%>)</span>
                    </label>
                    <%} else { %>
                                        <input type="checkbox" name="SelectedColours" value="<%=colour.CelebrosId%>" id="SelectedColours_<%=colour.CelebrosId%>" />
                    <label for="SelectedColours_<%=colour.CelebrosId%>">
                        <span><%=colour.Name%> (<%=colour.RecordCount%>)</span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.Rooms.length > 0) { %>
<section class="boxSection filterCategory filterRoom">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Rooms</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by Room</legend>
            <h3>Filter by Room</h3>
            <ul>
                <% _.each(rc.model.Rooms, function(room) { %>
                <li>
                    <% if (_.contains(rc.model.SelectedRooms, room.CelebrosId.toString()) === true) { %>
                                        <input type="checkbox" name="SelectedRooms" id="type_filterRoom_<%=room.CelebrosId%>" value="<%=room.CelebrosId%>" checked="checked" />
                    <label for="type_filterRoom_<%=room.CelebrosId%>" class="selected">
                        <span><%=room.Name%> (<%=room.RecordCount%>)</span>
                    </label>
                    <% } else { %>
                                        <input type="checkbox" name="SelectedRooms" id="type_filterRoom_<%=room.CelebrosId%>" value="<%=room.CelebrosId%>" />
                    <label for="type_filterRoom_<%=room.CelebrosId%>">
                        <span><%=room.Name%> (<%=room.RecordCount%>)</span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.IsPatternsFilterVisible && rc.model.Patterns.length > 0) { %>
<section class="boxSection filterCategory filterPattern">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Design Style</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by Design Style</legend>
            <h3>Filter by Design Style</h3>
            <ul>
                <% _.each(rc.model.Patterns, function(pattern) { %>
                <li>
                    <% if (_.contains(rc.model.SelectedPatterns, pattern.CelebrosId.toString()) === true) { %>
                                        <input type="checkbox" name="SelectedPatterns" id="type_filterPattern_<%=pattern.CelebrosId%>" value="<%=pattern.CelebrosId%>" checked="checked" />
                    <label for="type_filterPattern_<%=pattern.CelebrosId%>" class="selected">
                        <span><%=pattern.Name%> (<%=pattern.RecordCount%>)</span>
                    </label>
                    <% } else { %>
                                        <input type="checkbox" name="SelectedPatterns" id="type_filterPattern_<%=pattern.CelebrosId%>" value="<%=pattern.CelebrosId%>" />
                    <label for="type_filterPattern_<%=pattern.CelebrosId%>">
                        <span><%=pattern.Name%> (<%=pattern.RecordCount%>)</span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<% if (rc.model.IsTypeFilterVisible && rc.model.Type.length > 0) { %>
<section class="boxSection filterCategory filterType">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Type</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.Type, function (item) { %>
                <% if (_.contains(rc.model.SelectedType, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedType" id="type_filterType_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="type_filterType_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedType" id="type_filterType_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="type_filterType_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>
<% if (rc.model.IsWallpaperTypesVisible && rc.model.WallpaperTypes.length > 0) { %>
<section class="boxSection filterCategory filterWallpaperType">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Wallpaper Type</h2>
        </a>
        <a href="#" class="clearFilter">Reset</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.WallpaperTypes, function (item) { %>
                <% if (_.contains(rc.model.SelectedWallpaperTypes, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedWallpaperTypes" id="WallpaperTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="WallpaperTypes_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedWallpaperTypes" id="WallpaperTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="WallpaperTypes_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.IsTrimmingTypesVisible && rc.model.TrimmingTypes.length > 0) { %>
<section class="boxSection filterCategory filterTrimmingType">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Trimming Type</h2>
        </a>
        <a href="#" class="clearFilter">Reset</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.TrimmingTypes, function (item) { %>
                <% if (_.contains(rc.model.SelectedTrimmingTypes, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedTrimmingTypes" id="TrimmingTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="TrimmingTypes_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedTrimmingTypes" id="TrimmingTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="TrimmingTypes_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<% if (rc.model.IsFabricTypesVisible && rc.model.FabricTypes.length > 0) { %>
<section class="boxSection filterCategory filterFabricType">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Fabric Type</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.FabricTypes, function (item) { %>
                <% if (_.contains(rc.model.SelectedFabricTypes, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedFabricTypes" id="FabricTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="FabricTypes_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedFabricTypes" id="FabricTypes_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="FabricTypes_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.IsUpholsteryClothDesignationVisible && rc.model.UpholsteryClothDesignation.length > 0) { %>
<section class="boxSection filterCategory UpholsteryClothDesignation">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Upholstery Cloth Designation</h2>
        </a>
        <a href="#" class="clearFilter">Reset</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.UpholsteryClothDesignation, function (item) { %>
                <% if (_.contains(rc.model.SelectedUpholsteryClothDesignation, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedUpholsteryClothDesignation" id="UpholsteryClothDesignation_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="UpholsteryClothDesignation_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedUpholsteryClothDesignation" id="UpholsteryClothDesignation_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="UpholsteryClothDesignation_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>



<% if (rc.model.IsWallpaperCareInstructionsVisible && rc.model.WallpaperCareInstructions.length > 0) { %>
<section class="boxSection filterCategory WallpaperCareInstructions">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Upholstery Cloth Designation</h2>
        </a>
        <a href="#" class="clearFilter">Reset</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.WallpaperCareInstructions, function (item) { %>
                <% if (_.contains(rc.model.SelectedWallpaperCareInstructions, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedWallpaperCareInstructions" id="WallpaperCareInstructions_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="WallpaperCareInstructions_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedWallpaperCareInstructions" id="WallpaperCareInstructions_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="WallpaperCareInstructions_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.IsFabricCareInstructionsVisible && rc.model.FabricCareInstructions.length > 0) { %>
<section class="boxSection filterCategory FabricCareInstructions">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Upholstery Cloth Designation</h2>
        </a>
        <a href="#" class="clearFilter">Reset</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by type</legend>
            <h3>Filter by type</h3>
            <ul>
                <% _.each(rc.model.FabricCareInstructions, function (item) { %>
                <% if (_.contains(rc.model.SelectedFabricCareInstructions, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedFabricCareInstructions" id="FabricCareInstructions_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="FabricCareInstructions_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedFabricCareInstructions" id="FabricCareInstructions_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="FabricCareInstructions_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<% if (rc.model.IsMartindaleFilterVisible) { %>
<section class="boxSection filterCategory filterMartindale">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Martindale</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <legend for="martindale">
                Filter by rubs
            </legend>
            <!--<input type="text" name="martindale" id="martindale" value="<%= rc.model.Martindale %>" data-min-value="0" data-max-value="40000" data-step="1000"/>
            <div class="sliderBar" data-unit="rubs" data-unit-pos="after"></div>-->
            <ul>
                <!--<input type="text" name="martindale" id="martindale" value="<%= rc.model.Martindale %>" data-min-value="0" data-max-value="40000" data-step="1000"/>-->
                <% if (rc.model.Martindale == 4917) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4917" value="4917" checked="checked" /><label for="martindale4917"><span>&nbsp;4,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4917" value="4917" /><label for="martindale4917"><span>&nbsp;4,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4923) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4923" value="4923" checked="checked" /><label for="martindale4923"><span>&nbsp;8,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4923" value="4923" /><label for="martindale4923"><span>&nbsp;8,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4918) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4918" value="4918" checked="checked" /><label for="martindale4918"><span>&nbsp;20,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4918" value="4918" /><label for="martindale4918"><span>&nbsp;20,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4920) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4920" value="4920" checked="checked" /><label for="martindale4920"><span>&nbsp;30,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4920" value="4920" /><label for="martindale4920"><span>&nbsp;30,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4922) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4922" value="40000" checked="checked" /><label for="martindale4922"><span>&nbsp;40,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4922" value="4922" /><label for="martindale4922"><span>&nbsp;40,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4921) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4921" value="4921" checked="checked" /><label for="martindale4921"><span>&nbsp;50,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4921" value="4921" /><label for="martindale4921"><span>&nbsp;50,000 or more</span></label>
                </li>
                <% } %>

                <% if (rc.model.Martindale == 4919) { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4919" checked="checked" value="4919" /><label for="martindale4919"><span>&nbsp;100,000 or more</span></label>
                </li>
                <% } else { %>
                <li>
                    <input type="radio" name="martindale" id="martindale4919" value="4919" /><label for="martindale4919"><span>&nbsp;100,000 or more</span></label>
                </li>
                <% } %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<% if (rc.model.IsUsageFilterVisible && rc.model.Usage.length > 0) { %>
<section class="boxSection filterCategory filterUsage">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Usage</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <legend>Filter by Usage</legend>
            <h3>Filter by Usage</h3>
            <ul>
                <% _.each(rc.model.Usage, function(item) { %>
                <% if (_.contains(rc.model.SelectedUsage, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedUsage" id="usage_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="usage_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedUsage" id="usage_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" />
                    <label for="usage_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>




<% if (rc.model.IsContractUsageFilterVisible && rc.model.ContractUsage.length > 0) { %>
<section class="boxSection filterCategory filterUsage">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Usage</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <legend>Filter by Usage</legend>
            <h3>Filter by Usage</h3>
            <ul>
                <% _.each(rc.model.ContractUsage, function(item) { %>
                <% if (_.contains(rc.model.SelectedContractUsage, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedContractUsage" id="Contractusage_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="Contractusage_<%=item.CelebrosId%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedContractUsage" id="Contractusage_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" />
                    <label for="Contractusage_<%=item.CelebrosId%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>



<% if (rc.model.IsCompositionFilterVisible && rc.model.Composition.length > 0) { %>
<section class="boxSection filterCategory filterComposition">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Composition</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <legend>Filter by Composition</legend>
            <h3>Filter by Composition</h3>
            <ul>
                <% _.each(rc.model.Composition, function(item) { %>
                <% if (_.contains(rc.model.SelectedComposition, item.CelebrosId.toString()) === true) { %>
                <li>
                                        <input type="checkbox" name="SelectedComposition" id="composition_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="composition_<%=item.CelebrosId.toString()%>" class="selected">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } else { %>
                <li>
                                        <input type="checkbox" name="SelectedComposition" id="composition_<%=item.CelebrosId.toString()%>" value="<%=item.CelebrosId%>" />
                    <label for="composition_<%=item.CelebrosId.toString()%>">
                        <span><%=item.Name%> (<%=item.RecordCount%>)</span>
                    </label>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if (rc.model.IsFRInherentVisible && rc.model.FRInherent.length > 0) { %>
<section class="boxSection filterCategory filterFRInherent">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>FR Inherent</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by FR Inherent</legend>
            <h3>Filter by FR Inherent</h3>
            <ul>
                <% _.each(rc.model.FRInherent, function(FRInherent) { %>
                <li>
                    <% if ((_.contains(rc.model.SelectedFRInherent, FRInherent.CelebrosId.toString()) === true) || rc.model.AllFRInherent == true){ %>
                                        <input type="checkbox" name="SelectedFRInherent" id="FRInherent_<%=FRInherent.CelebrosId%>" value="<%=FRInherent.CelebrosId%>" checked="checked" />
                    <label for="FRInherent_<%=FRInherent.CelebrosId%>" class="selected">
                        <span><%=FRInherent.Name%></span>
                    </label>
                    <% } else { %>
                                        <input type="checkbox" name="SelectedFRInherent" id="FRInherent_<%=FRInherent.CelebrosId%>" value="<%=FRInherent.CelebrosId%>" />
                    <label for="FRInherent_<%=FRInherent.CelebrosId%>">
                        <span><%=FRInherent.Name%></span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>

<% if (rc.model.isFRTreatedVisible && rc.model.FRTreated.length > 0) { %>
<section class="boxSection filterCategory filterFRTreated">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>FR Treated</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by FR Treated</legend>
            <h3>Filter by FR Treated</h3>
            <ul>
                <% _.each(rc.model.FRTreated, function(FRTreated) { %>
                <li>
                    <% if (_.contains(rc.model.SelectedFRTreated, FRTreated.CelebrosId.toString()) === true) { %>
                                        <input type="checkbox" name="SelectedFRTreated" id="FRTreated_<%=FRTreated.CelebrosId%>" value="<%=FRTreated.CelebrosId%>" checked="checked" />
                    <label for="FRTreated_<%=FRTreated.CelebrosId%>" class="selected">
                        <span><%=FRTreated.Name%></span>
                    </label>
                    <% } else { %>
                                        <input type="checkbox" name="SelectedFRTreated" id="FRTreated_<%=FRTreated.CelebrosId%>" value="<%=FRTreated.CelebrosId%>" />
                    <label for="FRTreated_<%=FRTreated.CelebrosId%>">
                        <span><%=FRTreated.Name%></span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>







<% if (rc.model.IsFRTreatableVisible && rc.model.FRTreatable.length > 0) { %>
<section class="boxSection filterCategory filterFRTreatable">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>FR Treatable</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList ">
            <legend>Filter by FR Treatable</legend>
            <h3>Filter by FR Treatable</h3>
            <ul>
                <% _.each(rc.model.FRTreatable, function(FRTreatable) { %>
                <li>
                    <% if (_.contains(rc.model.SelectedFRTreatable, FRTreatable.CelebrosId.toString()) === true) { %>
                                        <input type="checkbox" name="SelectedFRTreatable" id="FRTreatable_<%=FRTreatable.CelebrosId%>" value="<%=FRTreatable.CelebrosId%>" checked="checked" />
                    <label for="FRTreatable_<%=FRTreatable.CelebrosId%>" class="selected">
                        <span><%=FRTreatable.Name%></span>
                    </label>
                    <% } else { %>
                                        <input type="checkbox" name="SelectedFRTreatable" id="FRTreatable_<%=FRTreatable.CelebrosId%>" value="<%=FRTreatable.CelebrosId%>" />
                    <label for="FRTreatable_<%=FRTreatable.CelebrosId%>">
                        <span><%=FRTreatable.Name%></span>
                    </label>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>


<% if ((sitekey.toLowerCase() == 'contracts' || sitekey.toLowerCase() == 'wg' || sitekey.toLowerCase() == 'style-library-contract') && (rc.model.IsBrandFilterVisible && (rc.model.Brands.length > 1 || rc.model.SelectedBrands.length > 0 ))) { %>
                    <section class="boxSection filterCategory filterBrands">
    <div class="header">
        <a href="#" class="toggle-filterAccordion">
            <h2>Brands</h2>
        </a>
        <a href="#" class="clearFilter">Clear</a>
    </div>
    <div class="content-filterAccordion">
        <fieldset class="optionList">
            <ul>
                <% _.each(rc.model.Brands, function(item) { %>
                <% if (_.contains(rc.model.SelectedBrands, item.CelebrosId.toString()) === true) { %>
                <li>
                    <input type="checkbox" name="brand" id="brand_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" checked="checked" />
                    <label for="brand_<%=item.CelebrosId%>" class="selected">
                        <% if(item.Name == "Morris and Co") {%>
                        <span>Morris & Co. (<%=item.RecordCount%>)</span>
                        <% } else {%>
                        <span><%=item.Name%><%item.Name%> (<%=item.RecordCount%>)</span>
                        <% } %>
                    </label>
                </li>
                <% } else { %>
                <li>
                    <input type="checkbox" name="brand" id="brand_<%=item.CelebrosId%>" value="<%=item.CelebrosId%>" />
                    <label for="brand_<%=item.CelebrosId%>">
                        <% if(item.Name == "Morris and Co") {%>
                        <span>Morris & Co. (<%=item.RecordCount%>)</span>
                        <% } else {%>
                        <span><%=item.Name%><%item.Name%> (<%=item.RecordCount%>)</span>
                        <% } %>
                    </label>
                </li>
                <% } %>

                <% }); %>
            </ul>
        </fieldset>
    </div>
</section>
<% } %>
<div class="revealAdvancedFilters">Show Advanced Options</div>
<div class="hideAdvancedFilters">Hide Advanced Options</div>
<a class="button clearAllFilters" href="#">Clear All</a>
</form>
</div>
</section>
</div>
</aside>
<script type="text/javascript">
    // var CelebrosAnalytics = CelebrosAnalytics();
    $(document).ready(function () {
     //   var CelebrosAnalytics = CelebrosAnalytics();
        CelebrosAnalytics.ShowComments = "true";
        CelebrosAnalytics.dopost = "true";
        CelebrosAnalytics.customerid = "WalkerGB";
        CelebrosAnalytics.pagereferrer = "";
        CelebrosAnalytics.qwisersearchsessionid = "<%= rc.model.CelebrosSearchSessionId %>";
        CelebrosAnalytics.websessionid = "";
        CelebrosAnalytics.qwisersearchloghandle = "<%= rc.model.CelebrosLogHandle %>";
        CelebrosAnalytics.issecured = "false";
        CelebrosAnalytics.datacollector = "";
        CelebrosAnalytics.userid = "WalkerGB";
        CelebrosAnalytics.AI_LogSearchResult();
     //   alert('Celebros done' + "<%= rc.model.CelebrosLogHandle %>" + ' Log');
    });
</script>
    <script type="text/javascript">
        $(document).ready(function () {
        $(".revealAdvancedFilters").click(function () {
                $(".filterFRTreatable, .filterFRTreated, .filterFRInherent, .filterComposition, .filterWallpaperType, .filterFabricType, .filterTrimmingType, .filterMartindale").show();
                $(".revealAdvancedFilters").hide();
                $(".hideAdvancedFilters").show();
            });
        $(".hideAdvancedFilters").click(function () {
                $(".filterFRTreatable, .filterFRTreated, .filterFRInherent, .filterComposition, .filterWallpaperType, .filterFabricType, .filterTrimmingType, .filterMartindale").hide();
                $(".revealAdvancedFilters").show();
                $(".hideAdvancedFilters").hide();
            });
        });
    </script>
