
<section id="morris-container">
    <a href='~/shop/cushions'>
        <div id="morris-inner">
            <div class="morris-cushion-text">
                <h1>Buy Cushions Online</h1>
                <p>Morris & Co. cushions are a fabulous way to introduce the legacy of William Morris into your home.

The range comprises much loved patterns from the Archive collections, carefully selected, redesigned and digitally printed especially for these unique cushions. Irresistible and unmistakeably William Morris, these cushions are wonderful decorative embellishments for both period and contemporary homes.</p>
            </div>
            <div id="morris-cushion">
            </div>
        </div>
    </a>
</section>





