
<section id="sanderson-container">
    <a href='~/shop/cushions'>
        <div id="sanderson-inner">
            <div class="sanderson-cushion-text">
                <h1>Buy Cushions Online</h1>
                <p>From vintage florals and painterly English landscapes to textured velvets and vibrant children’s designs, the Sanderson cushion collection has something for every taste.

Each cushion is supplied with a duck feather pad for luxury comfort.</p>
            </div>
        </div>
    </a>
</section>





