<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			navigation: true,
			navigationPosition: 'left',
			navigationTooltips: ['First page', 'Second page', 'Third and last page']
		});
		$(".fullpageBlockItem").hover(function(){
			$(this).children(".gridCaption").fadeToggle();
	  });
	});
</script>
<div id="fullpage">
	<div class="section active" id="section0">

		<div class="fullpageColumn column01">
			<div class="fullpageBlockItem block01">
				<a class="fullLink" href="/shop/wallpaper/noukku-wallpapers/?&utm_source=Scionhomepagefeb17"></a>
			</div>
			<div class="fullpageBlockItem block02"></div>
		</div>
		<div class="fullpageColumn column02">
			<div class="fullpageBlockItem block03">
				<a class="fullLink" href="/shop/fabric/noukku-fabrics?&utm_source=Scionhomepagefeb17"></a>
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="fullpageColumn column03">
			<div class="fullpageBlockItem block05">
				<a class="fullLink" href="/shop/cushions?&utm_source=Scionhomepagefeb17"></a>
				<div class="gridCaption">Cushions</div>
			</div>
			<div class="fullpageBlockItem block06">
				<a class="fullLink" href="/home-accessories/mugs?&utm_source=Scionhomepagefeb17"></a>
				<div class="gridCaption">Mugs</div>
			</div>
			<div class="fullpageBlockItem block07">
				<a class="fullLink" href="/home-accessories/towels-1?&utm_source=Scionhomepagefeb17"></a>
				<div class="gridCaption">Towels</div>
			</div>
		</div>
		<div class="fullpageColumn column04">
			<div class="fullpageBlockItem block08"></div>
			<div class="fullpageBlockItem block09"></div>
			<div class="fullpageBlockItem block10">
				<a class="fullLink" href="/home-accessories/rugs-1?&utm_source=Scionhomepagefeb17"></a>
				<div class="gridCaption">Rugs</div>
			</div>
		</div>
		<div class="fullpageColumn column05">
			<div class="fullpageBlockItem block11"></div>
			<div class="fullpageBlockItem block12">
				<a class="fullLink" href="/home-accessories/bedlinen-1?&utm_source=Scionhomepagefeb17"></a>
				<div class="gridCaption">Bedding</div>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<a class="fullLink" href="/shop/fabric/tomoko?&utm_source=Scionhomepagefeb17"></a>
		<div class="fullpageBlockItem block04"></div>
	</div>
	<div class="section" id="section1">
		<a class="fullLink" href="/shop/wallpaper/lohko-wallpapers?&utm_source=Scionhomepagefeb17"></a>
		<div class="fullpageBlockItem block13"></div>
	</div>
</div>
