@model string

@{
    var metaData = ModelMetadata.FromLambdaExpression(x => x, ViewData);
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayText = metaData.GetDisplayName();
    var description = metaData.Description;
    var isRequired = metaData.IsRequired;
    var size = ViewData["size"] ?? string.Empty;
    var labelText = (string) ViewData["labelText"];
}
<div class="field text @size">
    @Html.CustomLabelFor(x => x, labelText: labelText)
    @Html.CustomStyledValidationMessageFor(t => t)
    @Html.TextBoxFor(x => x)
</div>