@model string

@{
    var metaData = ModelMetadata.FromLambdaExpression(x => x, ViewData);
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayText = metaData.GetDisplayName();
    var isRequired = metaData.IsRequired;
    var size = ViewData["size"] ?? string.Empty;
}
<div class="field textarea @size">
    @Html.CustomLabelFor(x => x)
    @Html.CustomStyledValidationMessageFor(t => t)
    @Html.TextAreaFor(x => x)
</div>