@model object

@{
    var metaData = ModelMetadata.FromLambdaExpression(x => x, ViewData);
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayText = metaData.GetDisplayName();
    var isRequired = metaData.IsRequired;
    var salutationList = new[] {"Mr", "Mrs", "Miss", "Ms", "Dr", "Sir", "Lady"};
    var options = salutationList.OrderBy(x => x).Select(s => new SelectListItem {Value = s, Text = s, Selected = s == (Model as string ?? string.Empty)});
    var size = ViewData["size"] ?? string.Empty;
    options = new[] {new SelectListItem {Value = "", Text = "Please select"}}.Concat(options);
}

<div class="field select @size">
    @Html.CustomLabelFor(x => x)
    @Html.CustomStyledValidationMessageFor(t => t)
    @Html.DropDownListFor(t => t, options)
</div>