@{
    ViewBag.Title = "Contact Us - Thank you";
}
<div id="container">
    <div id="content">
        <h2>Thank You</h2>
        <p>
            Your enquiry has been sent and a member of our team will be in touch.
        </p>
    </div>
</div>
