<div id="header" class="gradient-dark">
	<a id="logo" href="#"><span></span></a>
</div>
<div id="statusBar" style="display: none;"></div>
<nav id="nav" class="gradient-dark " role="navigation">
	<ul id="main-nav" class="shadow">
	</ul>
</nav>
<div id="container">
    <div class="inner">
	    <div id="pageHeading"><h1>Login</h1></div>
	    <div id="content" class="content contentForm">
		    <form>
			    <fieldset>
				    <div class="field text">
					    <label for="email">Email</label>
					    <input type="text" email="email" name="email" id="email"/>
				    </div>
				    <div class="field text">
					    <label for="email">Password</label>
					    <input type="password" name="password" id="password"/>
				    </div>
			    </fieldset>
			    <div class="field formControls">
				    <input type="submit" class="button" value="Log in" />
			    </div>
		    </form>
	    </div>
    </div>
</div>