<a href="#" class="pageArrow left">
    <span class="icon icon-angle-left"></span>
</a>

<a href="#" class="pageArrow right">
    <span class="icon icon-angle-right"></span>
</a>

<div id="mainContent">

    <a href="/Discover/#Home" class="discover-contract">Discover Contract</a>

    <div class="brand-carousel">
        <div class="brand-carousel-slide active" data-brand="contract" style="background-image: url('/_images/brands/contracts/home/slides/contract.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="zoffany" style="background-image: url('/_images/brands/contracts/home/slides/zoffany.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="harlequin" style="background-image: url('/_images/brands/contracts/home/slides/harlequin.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="anthology" style="background-image: url('/_images/brands/contracts/home/slides/anthology.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="sanderson" style="background-image: url('/_images/brands/contracts/home/slides/sanderson.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="morris" style="background-image: url('/_images/brands/contracts/home/slides/morris.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="scion" style="background-image: url('/_images/brands/contracts/home/slides/scion.jpg')"></div>
        <div class="brand-carousel-slide" data-brand="frone" style="background-image: url('/_images/brands/contracts/home/slides/frone.jpg')"></div>
    </div>
</div>

<ul class="brand-list brand-list-8">
<li data-brand="contract">
    <a href="#" class="brand-toggle active">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/contract-tab.png" alt="Style Library Contract" />
			</span>
    </a>
    <div class="brand-content active">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Style" src="/_images/logos/header/style-library-contract@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Style Library Contract</h2>
                <p>Walker Greenbank PLC is one of the few organisations that can offer products from solely-owned companies, supported by a fully vertical integrated supply chain.</p>
                <p>The Walker Greenbank Group is a leading supplier of fabric &amp; wallcoverings to the contract sector; its products are specified regularly for use in the commercial environment. The Group's extensive portfolio enables it to be perfectly placed to meet the stringent demands of the contract market worldwide.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover Style Library Contract</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="zoffany">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/zoffany-tab.png" alt="Zoffany" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Zoffany" src="/_images/logos/header/zoffany-dark@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Zoffany</h2>
                <p>Zoffany is one of the world's leading names in luxury fabric and wallpaper design.</p>
                <p>Inspired by a unique archive of original fabric and wallpaper documents, Zoffany continues to create beautiful products that embody the brand's commitment to quality, heritage and innovation. Its portfolio includes wallpaper, fabrics, trimmings and paint for use in residential and contract applications.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Zoffany Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover Zoffany</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="harlequin">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/harlequin-tab.png" alt="Harlequin" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Harlequin" src="/_images/logos/header/harlequin@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Harlequin</h2>
                <p>Harlequin is the premier destination for inspirational designs, innovative textures and delicious colours. An eclectic fusion of classic mixed with contemporary, flamboyant married with elegant; Harlequin's versatile ranges of prints, weaves and wallcoverings offer the most discerning of customers a dazzling spectrum of products.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Harlequin Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover Harlequin</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="anthology">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/anthology-tab.png" alt="Anthology" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo anthology" src="/_images/logos/header/anthology@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Anthology</h2>
                <p>Anthology comprises a selection of urban-inspired designs and glamorous textures, a combination of structural motifs with subtle organic undertones. It channels the concept of tactile, tessellating shapes that create a structure and form either individually or fitted together.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Anthology Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover the Anthology collection</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="sanderson">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/sanderson-tab.png" alt="Sanderson" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <span class="brand-toggle-inner">
						<img class="brand-logo Sanderson" src="/_images/logos/style_library/sanderson.jpg" alt="">
					</span>
            </div>
            <div class="small-6 columns description">
                <h2>Sanderson</h2>
                <p>In 2010 Sanderson celebrated its 150th Anniversary, making it the oldest surviving English brand in its field. Founded by Arthur Sanderson in 1860, Sanderson is an internationally renowned brand in the field of interior design and decorating. Its quintessentially English fabrics and wallpapers, bedlinen, paint and tableware collections offer classic, inspirational product, design innovation, exceptional quality and value for money.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Sanderson Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover the Sanderson collection</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="morris">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/morris-tab.png" alt="Morris &amp; Co" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Morris" src="/_images/logos/header/morris@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Morris &amp; Co</h2>
                <p>William Morris was the single most influential designer of the nineteenth century and remains today one of the best known of all British designers. This is due to his extraordinary talent as a pattern designer, his colourful and inspiring life story and his forceful intellect and personality. Morris was much more than a designer; he was a fervent socialist, scholar, translator and publisher, an environmental campaigner, writer and poet.</p>
                <p>Today Morris &amp; Co. guarantees authentic versions of those designs alongside new interpretations, using innovations in printing and weaving technology to create up-to-date fabric and wallpaper designs with timeless appeal.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View Morris &amp; Co Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover the Morris &amp; Co collection</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="scion">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/scion-tab.png" alt="Scion" />
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Scion" src="/_images/logos/header/scion@2x.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>Scion</h2>
                <p>The Harlequin Group is proud to present Scion, a refreshing British brand which aims to make its own distinctive mark on the world of interior design.</p>
                <p>The brand has been created with a trend savvy, fashion aware customer in mind, its products are cutting-edge, accessibly priced and forward looking, but with an enduring appeal and intrinsic individuality.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all Scion Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover the Scion collection</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
<li data-brand="frone">
    <a href="#" class="brand-toggle">
        <span class="brand-toggle-inner">
				<img src="/_images/brands/contracts/home/frone-tab.png" alt="FR One" />				
			</span>
    </a>
    <div class="brand-content">
        <div class="row">
            <div class="small-6 columns logo">
                <img class="brand-logo Scion" src="/_images/brands/contracts/home/frone-logo.png" alt="">
            </div>
            <div class="small-6 columns description">
                <h2>FR One</h2>
                <p>The Harlequin Group is proud to present Scion, a refreshing British brand which aims to make its own distinctive mark on the world of interior design.</p>
                <p>The brand has been created with a trend savvy, fashion aware customer in mind, its products are cutting-edge, accessibly priced and forward looking, but with an enduring appeal and intrinsic individuality.</p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">View all FR One Contract products</span></a>
                </p>
                <p>
                    <a href="#" class="ghost-button">
                        <span class="ghost-button-inner">Discover FR One</span></a>
                </p>
            </div>
        </div>
        <a href="#" class="close">
            <span>Close</span></a>
    </div>
</li>
</ul>