<div class="lazy gridContent-image" style="background-image: url('<%= _.escape(rc.item.Images[0].Url) %>');"></div>
<div class="gridContent-details">
    <div class="inner">
        <a class="hide-toggle" href="#">
            <span class="icon icon-caret-down"></span>
            <span class="hide-label">Hide</span>
        </a>
        <h2><%= rc.item.Brand %> - <%= rc.item.Name %></h2>
        <%= rc.item.LongDescription %>
        <p>
            <a href="<%= rc.item.CollectionUrl %>" class="button small">View Products From This Collection</a>
            <a href="/brands/<% switch(rc.item.Brand) {
				case "Morris & Co.": print ('morris/'); break;
               case "style Library": print(''); break;
               default: print(rc.item.Brand.toLowerCase() + '/'); break;
               } %>" class="button small">Discover <%= rc.item.Brand %></a>
        </p>
    </div>
</div>
<a href="#" class="close">
    <span>Close</span></a>