<a href="#" class="item-trigger" data-itemid="<%= rc.item.Id %>" data-orientation="<%= rc.item.Orientation %>">
    <span class="lazy item-img <%= _.escape(rc.item.Images[0].Image.CropOption) %>" style="background-image: url('/_assets/images/cloud/<%= rc.item.Images[0].Image.Id %>/Homepage/WgBackgroundThumb/');">
	</span>
    <span class="item-label">
		<span class="inner">
			<span class="brand"><%= rc.item.Brand %></span>
			<span class="collection"><%= rc.item.Name %></span>
		</span>
	</span>
</a>