    <thead>
        <tr>
            <td colspan="4">
                <div class="field text">
                    <input type="text" id="<%=componentId()%>_search" placeholder="Enter Keywords" />
                    <a class="button search">Search</a>
                </div>
            </td>
        </tr>
        <tr>
            <th>Filename</th>
            <th>Filetype</th>
            <th>Size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><input type="hidden" name="<%=componentId()%>" id="<%=componentId()%>_ids" /><a class="prevpage">Prev</a></td>
            <td colspan="2"><a class="nextpage">Next</a></td>
        </tr>
    </tfoot>