<label for="<%=componentId%>"><%=labelhelper()%></label>
<%=helpTextHelper()%>
<div id="<%=componentId%>" class="file-uploader">
    <button id="<%=componentId%>_pickfiles" href="javascript:;" class="file-uploader-fileselect icon-folder-open"><span>Select file</span></button>
    <button id="<%=componentId%>_uploadfiles" href="javascript:;" class="file-uploader-fileupload icon-upload"><span>Upload file</span></button>
    <div id="<%=componentId%>_filelist" class="file-uploader-filelist"></div>
</div>
