<label for="<%=componentId%>"><%=labelhelper()%></label>
<%=helpTextHelper()%>
<div class="alertInfo message">Please note that this url must be an embed url e.g. http://player.vimeo.com/video/12345678 or http://www.youtube.com/embed/AA-AAAA1A11 not the one seen in the browser address bar.</div>
<input type="text" id="<%=componentId%>" name="<%=componentId%>" placeholder="Enter <%=label%>" <%=validationClasses()%>/>
<div class="video" style="margin-top: 15px;">
    <iframe width="420" height="315" src="<%=value%>" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
