/******************************************************/
/*													  */
/*	MORRIS STYLES									  */
/*													  */
/******************************************************/

/******************************************************/
/*	FONTS											  */
/******************************************************/

@font-face {
    font-family: "ITCGoldenTypeW01-Origin 827093";
    src: url("[path-to-font]/12953a72-8c88-4dab-97f9-5ce02cd58b94.eot?#iefix");
    src: url("[path-to-font]/12953a72-8c88-4dab-97f9-5ce02cd58b94.eot?#iefix") format("eot"), url("[path-to-font]/08634d12-ba26-4b63-a9b0-6772cd2b7d76.woff") format("woff"), url("[path-to-font]/2d198792-9f9f-4a8f-903d-13359c2de993.ttf") format("truetype"), url("[path-to-font]/bfa437a4-259f-423f-9572-b011ccc69b9a.svg#bfa437a4-259f-423f-9572-b011ccc69b9a") format("svg");
}

/******************************************************/

/*	COLOURS											  */

/******************************************************/

/* Primary color */

.primary-color { color: #5b6e52; }

/* Grey color - background, borders etc... */

.light-grey { color: #e2e2e2; }

.medium-grey { color: #858585; }

.dark-grey { color: #2d2d2d; }

/* Default color i.e. paragraphs, lists etc... */

.default-colour { color: #666; }

/* Default link color */

.link-color { color: #222; }

/* Default link state colors */

.link-color:hover,
.link-color:active,
.link-color:focus { color: #5b6e52; }

/* Site Background */

body { background-color: #fff; }

/******************************************************/

/*	TYPOGRAPHY										  */

/******************************************************/

/* Default copy font */

body { font-family: Arial, verdana, sans-serif; }

/* Heading font i.e. H1, H2, H3 etc... */

h1,
h2,
h3 {
    font-family: "ITCGoldenTypeW01-Origin 827093", arial, sans-serif;
    font-weight: normal;
}

/* Body copy i.e. paragraphs, lists etc... */

body {
    font-size: 13px;
    line-height: 20px;
}

/* H1 - Heading */

h1 {
    font-size: 39px;
    line-height: 54px;
}

/* H2 - Heading */

h2 {
    font-size: 21px;
    line-height: 29px;
}

/* H3 - Heading */

h3 {
    font-size: 16px;
    line-height: 21px;
}

/******************************************************/

/*	LISTS										  */

/******************************************************/

ul,
ol {
    line-height: 20px;
    margin: 0 0 15px 0;
}

/******************************************************/

/*	BUTTONS											  */

/******************************************************/

/* Primary Button */

.button {
    background: #5b6e52;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #677D5D), color-stop(100%, #5B6E52));
    background-image: -webkit-linear-gradient(#677D5D, #5b6e52);
    background-image: -moz-linear-gradient(#677D5D, #5b6e52);
    background-image: -o-linear-gradient(#677D5D, #5b6e52);
    background-image: linear-gradient(#677D5D, #5b6e52);
    color: #fff;
    display: inline-block;
    *display: inline;
    font-family: "ITCGoldenTypeW01-Origin 827093", arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
    zoom: 1;
}

.button:hover, .button:hover, .button:hover { background-color: #5b6e52; }

/* Secondary Button */

.button-secondary {
    background-color: #DADADA;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F3F3F3), color-stop(100%, #DADADA));
    background-image: -webkit-linear-gradient(#F3F3F3, #DADADA);
    background-image: -moz-linear-gradient(#F3F3F3, #DADADA);
    background-image: -o-linear-gradient(#F3F3F3, #DADADA);
    background-image: linear-gradient(#F3F3F3, #DADADA);
    color: #2d2d2d;
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus { background: #DADADA; }