@using Colony.Commerce

<div id="ModalHolder" name="ModalHolder" style="display:none"></div>
<div class="sliderContainer home">

    <video controls muted width="100%" height="100%" style="margin-top:-15px;" poster="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/aug-17/sl_video_poster-mob.jpg">
        <source src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/aug-17/inspire-creative-living-interior-design-style-library-mob.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    @*<div class="wide slider home">
            <div class="sliderSlide homeSlide1">
                <a href="/shop/fabric/potting-room-prints-and-embroideries/">
                    <div class="caption right main">
                        <h2>For the green-fingered gardener</h2>
                        <span class="fa-angle-right-after">discover our brand new potting room fabrics</span>
                    </div>
                </a>
                <div class="stlTag fa-info" onclick="getQuickShop('DHPO226360')"></div>
            </div>

            <div class="sliderSlide homeSlide2">
                <a href="/shop/fabric/potting-room-prints-and-embroideries/sundial/?code=DHPO226358">
                    <div class="caption right main">
                        <h2>The perfect summer sunflower</h2>
                        <span class="fa-angle-right-after">Discover our new sundial fabric</span>
                    </div>
                </a>
                <div class="stlTag fa-info" onclick="getQuickShop('DHPO226358,DHPO236417,DHPO226352,DHPO236424,DHPO236426,DHPO226361')"></div>
            </div>

            <div class="sliderSlide homeSlide3">
                <a href="/search/callista-collection/">
                    <div class="caption right main">
                        <h2>Create a fresh fun-filled interior scheme</h2>
                        <span class="fa-angle-right-after">Browse our ranges by designer, Clarissa Hulse</span>
                    </div>
                </a>
                <div class="stlTag fa-info" onclick="getQuickShop('HCSF120621,HCSF120626,HCSF120542,HCSF120544,HCOT130371,HCOT130383,HCLS111379')"></div>
            </div>

            <div class="sliderSlide homeSlide4">
                <a href="/inspire/the-edit/fresh-florals-green-plants/">
                    <div class="caption right main">
                        <h2>Welcome beautiful blooms into your home</h2>
                        <span class="fa-angle-right-after">read our fresh florals feature</span>
                    </div>
                </a>
                <div class="stlTag fa-info" onclick="getQuickShop('DWAP226286,DWAP226288,DWAP226278,DWAP235927,DBAY236115,DBAY236165')"></div>
            </div>
        </div>*@
</div>
<section class="home centered" style="background: #f1f1f1;">
    <div class="sectionInner">
        <div class="sectionContainer">
            <h1>Inspire Creative Living</h1>
            <p>If you love beautiful homes and interiors as much as we do this could be the beginning of a wonderful friendship. Welcome to Style Library, the official home of  six of the finest British brands, Zoffany, Harlequin, Sanderson, Morris & Co., Scion, and Anthology. Here you can find the widest and most diverse range of authentic British interior design products. Styles that celebrate a passion for colour, texture, craftsmanship and great design. We're here to help you bring your home to life, the way you really want it.</p>
            <div class="brandsContainer">

                <div class="brandBlock zof">
                    <div class="brandBlockInner"><a href="/brands/zoffany"><img alt="" src="../../../_images/brands/wg/logos/Zoffany.png" /></a></div>
                </div>

                <div class="brandBlock har">
                    <div class="brandBlockInner"><a href="/brands/harlequin"><img alt="" src="../../../_images/brands/wg/logos/Harlequin.png" /></a></div>
                </div>

                <div class="brandBlock san">
                    <div class="brandBlockInner"><a href="/brands/sanderson"><img alt="" src="../../../_images/brands/wg/logos/Sanderson.png" /></a></div>
                </div>

                <div class="brandBlock mor">
                    <div class="brandBlockInner"><a href="/brands/morris"><img alt="" src="../../../_images/brands/wg/logos/Morris.png" /></a></div>
                </div>

                <div class="brandBlock sci">
                    <div class="brandBlockInner"><a href="/brands/scion"><img alt="" src="../../../_images/brands/wg/logos/Scion.png" /></a></div>
                </div>

                <div class="brandBlock ant">
                    <div class="brandBlockInner"><a href="/brands/anthology"><img alt="" src="../../../_images/brands/wg/logos/Anthology.png" /></a></div>
                </div>

            </div>

        </div>
    </div>
</section>
<div class="pageContainer">
    <div class="pageContainerInner">
        <section class="home centered">

            <!-- category container row 1 -->
            <div class="categoryContainer">
                <div class="imageContainer">
                    <a href="/shop/fabric/">
                        <img class="lazyload" data-original="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/morris-and-co-archive-four-collector-indian-loops-fabric-bedroom-ethnic-style-library.jpg?20092017" alt="morris and co archive four collector indian loops fabric bedroom ethnic style library" />
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('NPED120641,NPLO131951,NPEU132511,NPED132423,NPED132425')"></div>*@
                </div>
                <h2>Fabric</h2>
                <p>There's something delightful about sinking into an oversized sofa smothered in luxurious Zoffany fabric, or watching the light gently diffuse through an Anthology sheer curtain. Get ready to fall in love with fabrics that envelop your home in warmth, colour and the occasional splash of drama. Six diverse brands means we can show you a myriad of printed, plain and woven fabrics for curtains, blinds, upholstery and cushions. Let's guide you through it.</p>
                <a href="/shop/fabric/">
                    <button class="primaryButton">Discover Fabric</button>
                </a>
            </div>

            <div class="categoryContainer">
                <div class="imageContainer">
                    <a href="/shop/wallpaper/">
                        <img class="lazyload" data-original="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/morris-and-co-archive-four-collector-hallway-wallpaper-montreal-green.jpg?20092017" alt="morris and co archive four collector hallway wallpaper montreal green" />
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('ZPAL312698')"></div>*@
                </div>
                <h2>Wallpaper</h2>
                <p>With six famous British wallpaper brands, our own factories and a rich heritage stretching back to 1860, we're proud to know a thing or two about wallcoverings. Today's technology means that almost anything is possible, which for you, means creative freedom. So here you'll find everything from archive-inspired Morris & Co. wallpapers to cutting-edge Zoffany textured vinyls, Harlequin statement designs, panels and much, much more&hellip;</p>
                <a href="/shop/wallpaper/">
                    <button class="primaryButton">Discover Wallpaper</button>
                </a>
            </div>
        </section>


        <section class="home centered">
            <!-- category container row 2 -->
            <div class="categoryContainer">
                <div class="imageContainer">
                    <a href="/shop/homeware/">
                        <img class="lazyload" data-original="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/Morris-and-co-rugs-dining-room-willowbough-neutral-style-library.jpg?20092017" alt="Morris and co rugs dining room willowbough neutral style library" />

                        <div class="exclusiveTag">UK Only</div>

                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('HLIC151753,HLIC151727,HLIC151728')"></div>*@
                </div>
                <h2>Homeware</h2>
                <p>When designs are just too good to be limited to one product, we share them. By partnering with specialist manufacturers, we can bring you a range of branded homeware products featuring some of your favourite designs and colours from Harlequin, Scion, Sanderson and Morris & Co. Bedding, cushions, towels and more&hellip;</p>
                <a href="/shop/homeware/">
                    <button class="primaryButton">Discover Homeware</button>
                </a>
            </div>

            <div class="categoryContainer">
                <div class="imageContainer">
                    <a href="/paint/">
                        <img class="lazyload" data-original="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/zoffany-paint-serpentine-blue-teal-style-library.jpg?20092017" alt="zoffany paint serpentine blue teal style library" />


                        <div class="exclusiveTag">UK Only</div>

                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('CNDOQU,CNQUEM,CNQUQA,CNGREY,CNANTI,CNINK,CNPURP,CNPEWT,CNPRUS,CNCHAL,CNSTRA,CNSILV,CNVELV,CNTEAL,CNAMBE,CNRUSS')"></div>*@
                </div>
                <h2>Paint</h2>
                <p>Creating the backdrop to your perfect interior starts with paint and it's the depth of colour and finish that makes all the difference. To help you, Sanderson and Zoffany have curated exclusive paint collections that reflect and complement each brand. So when you're searching for that perfect hue and finish, you'll find our paint collections are a great place to start.</p>
                <a href="/paint/">
                    <button class="primaryButton">Discover Paint</button>
                </a>
            </div>
        </section>

        <!-- modules row 3 -->
        <section class="">
            <div class="moduleColumn" style="width:50%;">
                <div class="moduleItem mediumModule" style="width:100%">
                    <a href="/search/the-collector-range/">
                        <div class="moduleItemInner" style="background-image:url('https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/morris-and-co-archive-four-office-bell-flowers-wallpaper-indigo.jpg?20092017');" title="morris and co archive four office bell flowers wallpaper indigo">
                            <div class="caption">
                                <h2>EXPLORE MORRIS’ ROLE AS A COLLECTOR</h2>
                                <span class="fa-angle-right-after">BROWSE MORRIS &amp; CO.'S BRAND NEW ARCHIVE IV COLLECTIONS</span>
                            </div>
                        </div>
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('HCSF120620')"></div>*@
                </div>
            </div>

            <div class="moduleColumn" style="width:50%">
                <div class="moduleItem mediumModule" style="width:100%">
                    <a href="/shop/wallpaper/damask-wallpapers/">
                        <div class="moduleItemInner" background-position:bottom;" style="background-image: url('https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/zoffany-damask-wallpaper-brocatello-living-room-luxury-green-style-library.jpg?20092017');" title="zoffany damask wallpaper brocatello living room luxury green style library">
                            <div class="caption top">
                                <h2>DRAMATIC DAMASKS</h2>
                                <span class="fa-angle-right-after">DISCOVER ZOFFANY'S NEW DAMASK COLLECTION</span>
                            </div>
                        </div>
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('ZPAL312698,ZQRY332847,ZAMO332698,ZALD332700,ZAMO332647,ZCYB332752')"></div>*@
                </div>
            </div>
        </section>

        <!-- modules row 4-->
        <section class="">
            <div class="moduleColumn" style="width:40%;">
                <div class="moduleItem smallModule" style="width:100%">
                    <a href="/shop/fabric/archive-iv--the-collector-fabrics/burdock-and-star?code=DMA4236519/">
                        <div class="moduleItemInner" style="background-image: url('https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/sept-17/morris-and-co-fabric-curtain-burdock-and-star-ethnic-indig-style-library.jpg?20092017');" title="morris and co fabric curtain burdock and star ethnic indig style library">
                            <div class="caption">
                                <h2>AUTHENTIC EASTERN INSPIRATION </h2>
                                <span class="fa-angle-right-after">DISCOVER OUR BURDOCK &amp; STAR FABRIC</span>
                            </div>
                        </div>
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('ZPAL312721,ZPAL312700')"></div>*@
                </div>
            </div>

            <div class="moduleColumn" style="width:60%;">
                <div class="moduleItem smallModule" style="width:100%">
                    <a href="/search/bedding-range/?keywords=bedding+range&page=&brand=&SelectedColours=&SelectedProductGroups=&SelectedTrimmingTypes=&SelectedUsage=&SelectedRooms=&selectedpatterns=&answerHandle=&searchHandle=&searchTerm=&LastSearchPage=&SortBy=default&layoutOption=grid&searchHandle=&searchTerms=">
                        <div class="moduleItemInner" style="background-image: url('https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/NSL/Homepage/aug-17/bedroom-botanical-navy-floral-bedding-statement-harlequin.jpg?15082017');" title="bedroom botanical navy floral bedding statement harlequin">
                            <div class="caption">
                                <h2>CREATE A BEAUTIFUL BEDROOM</h2>
                                <span class="fa-angle-right-after">BROWSE BEDDING &amp; ACCESSORIES</span>
                            </div>
                        </div>
                    </a>
                    @*<div class="stlTag fa-info" onclick="getQuickShop('HLIC151753,HLIC151727,HLIC151728,HBRU120158')"></div>*@
                </div>
            </div>
        </section>

    </div>
</div>
<section class="home brands centered">
    <div class="sectionInner">
        <div class="sectionContainer">
            <h3 class="sl-heading sl-center">Discover Styles From</h3>
            <div class="brandsContainer">

                <div class="brandBlock zof">
                    <div class="brandBlockInner"><a href="/brands/zoffany"><img alt="" src="../../../_images/brands/wg/logos/Zoffany.png" /></a></div>
                </div>

                <div class="brandBlock har">
                    <div class="brandBlockInner"><a href="/brands/harlequin"><img alt="" src="../../../_images/brands/wg/logos/Harlequin.png" /></a></div>
                </div>

                <div class="brandBlock san">
                    <div class="brandBlockInner"><a href="/brands/sanderson"><img alt="" src="../../../_images/brands/wg/logos/Sanderson.png" /></a></div>
                </div>

                <div class="brandBlock mor">
                    <div class="brandBlockInner"><a href="/brands/morris"><img alt="" src="../../../_images/brands/wg/logos/Morris.png" /></a></div>
                </div>

                <div class="brandBlock sci">
                    <div class="brandBlockInner"><a href="/brands/scion"><img alt="" src="../../../_images/brands/wg/logos/Scion.png" /></a></div>
                </div>

                <div class="brandBlock ant">
                    <div class="brandBlockInner"><a href="/brands/anthology"><img alt="" src="../../../_images/brands/wg/logos/Anthology.png" /></a></div>
                </div>

            </div>
        </div>
    </div>
</section>
@{
    string ip = "";
    System.Web.HttpContext context = System.Web.HttpContext.Current;
    string ipAddress = context.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];

    if (!string.IsNullOrEmpty(ipAddress))
    {
        string[] addresses = ipAddress.Split(',');
        if (addresses.Length != 0)
        {
            ip = addresses[0];
        }
    }

    string ip2 = context.Request.ServerVariables["REMOTE_ADDR"];
    string ip3 = "";
    string ipAddress3 = context.Request.ServerVariables["X-Cluster-Client-IP"];
    if (!string.IsNullOrEmpty(ipAddress3))
    {
        string[] addresses = ipAddress3.Split(',');
        if (addresses.Length != 0)
        {
            ip3 = addresses[0];
        }
        else
        {
            ip3 = addresses.Length.ToString();
        }
    }
}
<input type="hidden" name="HTTP_X_FORWARDED_FOR" id="HTTP_X_FORWARDED_FOR" value="@ip" />
<input type="hidden" name="REMOTE_ADDR" id="REMOTE_ADDR" value="@ip2:" />
