@model Colony.CMS.Areas.Members.ViewModels.RegisterInputViewModel
@{
    ViewBag.Title = "Register";
}
<div id="container">
    <h2>Registration Success</h2>
    <p>
        You should receive an email shortly at @Model.Person.Email.
        It will contain instructions to verify your account
        so that you can login.
    </p>
    <p>Thanks!</p>
</div>