<div class="mainHomepageContainer">
	<div class="scrollDownAnt">
    <img class="scrollArrowAnt" src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/AnthologyArrow1.png" alt="">
    <span>Scroll Down</span>
  </div>


	<div class="antVideoContainer">
		<div class="videoOverlay">
			<h1>A new concept for interiors</h1>
			<div class="videoButton">
				<a href="/shop/fabric">
				<button>Discover Fabrics</button>
				</a>
			</div>
			<div class="videoButton">
				<a href="/shop/wallpaper">
				<button>Discover Wallpapers</button>
				</a>
			</div>
		</div>
		<video muted autoplay="" loop="" id="bgvid" class="" poster="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/AnthologyVideo.png">
	  		<source src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/AnthologyHomepageVideoCrop.mp4" type="video/mp4">
		</video>
	</div>

	<div class="antHomeGridContainer">
		<div class="antHomeColumn">
			<a href="/our-philosophy">
			<div class="antTopLeftHome antGridItem">
				<span>Our Philosophy</span>
			</div>
			</a>
			<a href="/shop/wallpaper">
			<div class="antMidLeftHome antGridItem">
				<span>Search Wallpaper Collections</span>
			</div>
			</a>
			<a href="https://www.anthology.uk.com/shop/fabric/translucents-01/">
			<div class="antBottomLeftHome antGridItem">
				<span>Translucents 01</span>
			</div>
			</a>
		</div>
		<div class="antHomeColumn">
			<a href="/shop/fabric">
			<div class="antTopRightHome antGridItem">
				<span>Search Fabric Collections</span>
			</div>
			</a>
			<a href="/shop/wallpaper/anthology-04/">
			<div class="antBottomRightHome antGridItem">
				<span>Anthology 04</span>
			</div>
			</a>
		</div>
	</div>

</div>
