<div class="mainHomepageContainer">
	<div class="scrollDownAnt">
	    <div class="scrollArrowAnt"></div>
	    <span>Scroll Down</span>
	  </div>
	<video controls muted autoplay="" loop="" id="bgvid" class="" poster="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/AnthologyVideo.png">
  		<source src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/AnthologyHomepageVideo4.mp4" type="video/mp4">
	</video>
	<div class="leftHomepageContainer">
		<a href="/shop/wallpaper/anthology-01/">
			<div class="homepageItemContainer">
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology01newTop.png" class="homepageItemImageWide panelRight" alt="">
				<div class="anthologyCollectionPanel-right">
					<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-01.png" alt="">
				</div>
			</div>
		</a>
		<a href="/shop/wallpaper/anthology-02/">
			<div class="homepageItemContainer">			
				<div class="anthologyCollectionPanel-left">
					<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02.png" alt="">
				</div>
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology02newMid2.png" class="homepageItemImageWide panelLeft" alt="">
			</div>
		</a>
		<!-- <div class="homepageItemContainer">
			<div class="anthologyCollectionPanel-left">
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02.png" alt="">
			</div>
			<div class="homepageItemDoubleImageContainer" style="padding-left: 40px;">
				<div class="homepageItemTitle" style="width: 45%;top:0px;left:40px;padding: 20px;">
					<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Bold-and-Bright.png" alt="">
				</div>
				<img style="width:55%;" src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02-Tile-Wallpaper-Blue.png" class="homepageItemImage" alt="">
				<img style="width:45%;" src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02-Bold-and-Bright.png" class="homepageItemImage" alt="">
			</div>
		</div> -->
		<a href="/our-philosophy">
			<div class="homepageItemContainer">
				<div class="homepageItemTitle" style="width: 40%;top:0px;right:0px;padding: 20px 25px;">
						<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/OurPhilosophyTitle.png" alt="">
				</div>
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/OurPhilosophyImageAnthology.png" class="homepageItemImageWide" alt="">
			</div>
		</a>
	</div>
	<div class="rightHomepageContainer">
		<a href="/shop/fabric">
			<div class="homepageItemContainer">
				<div class="homepageItemTitle" style="width:72%;top:47px;left:0px;padding: 20px 25px;">
					<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/FabricsRedefinedTitle.png" alt="">
				</div>
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/FabricsRedefinedAnthology.png" class="homepageItemImageWide panelBottom" alt="">
				<div class="anthologyCollectionPanel-bottom">
					<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-03.png" alt="">
				</div>
			</div>
		</a>
		<a href="/shop/wallpaper/anthology-03/">
			<div class="homepageItemContainer">
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology03ImagenewBottom.png" class="homepageItemImageWide" alt="">
			</div>
		</a><!-- 
		<div class="homepageItemContainer">
			<div class="homepageItemDoubleImageContainer">
				<img style="width:43%;" src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-03-Wallpaper-Rolls.png" class="homepageItemImage" alt="">
				<img style="width:57%;" src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-03-Small-Landscape-Brown.png" class="homepageItemImage" alt="">
			</div>
		</div>
		<div class="homepageItemContainer">
			<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02-Wallpaper-Rolls.png" class="homepageItemImageWide panelLeft" alt="">
			<div class="anthologyCollectionPanel-left">
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-02.png" alt="">
			</div>
		</div>
		<div class="homepageItemContainer">
			<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-03-Swirl-Wallpaper.png" class="homepageItemImageWide panelRight" alt="">
			<div class="anthologyCollectionPanel-right" style="bottom:25px;">
				<img src="https://69445235844b78bbd4c8-40765e7850b487e7db6d0b1ca2adcee0.ssl.cf3.rackcdn.com/_assets/images/Anthology-03.png" alt="">
			</div>
		</div> -->
	</div>
</div>