@model IEnumerable<Colony.Modules.Careers.Models.JobCategory>

@if (Model.Any())
{
    <section class="categorySection jobs">
        <h2>Categories</h2>
        <ul class="categoryList">
            @foreach (var category in Model)
            {
                <li>
                    <article>
                        <a href="/jobs/@category.Uri" class="thumbnail">
                            <img src="@Url.ImageUrl(category.ImageAssetId, "Jobs", "CategoryThumbnail", @"/_images/placeholders/categoryList.jpg")" alt="@category.Name"/>
                        </a>
                        <div class="details">
                            <h3>
                                <a href="/jobs/@category.Uri">@category.Name</a>
                            </h3>
                            <p>@category.ShortDescription</p>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </section>
}