<div style="display:none;">
    @{
        Html.RenderAction("CountriesSelector", "Currencies", new { area = "Currencies", isInitiasliser=true });

        Html.RenderAction("MiniBasketPartial", "Basket", new { area = "ShopPurchase", isInitiasliser = true });
                }
      
</div>