@{
    ViewBag.Title = "Register Interest - Thank you";
}
<div id="container">
    <div id="content">
        <h2>Thank You</h2>
        <p>
            Your details have now been submtited and a member of our team will be in touch.
        </p>
    </div>
</div>