@model Colony.Commerce.Areas.Returns.ViewModels.ForgottenOrderNumber

@{
    ViewBag.Title = "Returns";
}

<header class="pageHeader">
    <h1>Forgotten Order Number</h1>
</header>

<header class="returns-header">

    <h2>Forgotten Order Number</h2>
    <span class="icon icon-info"></span>
</header>

<div class="boxSection-content inset">

    <div class="returns-intro">
        <p>Please enter your email address. We will send you the last 10 order references made on your account.</p>
    </div>


    <div class="field text ">
        <label for="returnsOrderReference">
            Email Address<span class="required">Required</span>
        </label>

    </div>
</div>
<div class="boxSection-action">
    <input type="submit" value="Next" class="button"/>
</div>

}