@model Colony.CMS.Areas.CRM.Models.AddressViewModel
@{
    Html.SetTitle("Address Book - Add Address");
}

@Html.Partial("AccountMenu", "SavedAddresses")

<div id="content" class="">
    <h1>Add a new address</h1>

    <div class="contentForm">
        @using (Html.BeginForm("AddAddress", "AccountArea", new {area = "AccountArea"}, FormMethod.Post))
        {
            @Html.CustomValidationSummary(false)
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Add a new address</legend>
                @{
                    Html.RenderPartial("~/Views/Address/_Address.cshtml", Model, new ViewDataDictionary {{"ShowPersonDetails", true}, {"ShowAddressName", true}});
                }

                <div class="field formControls">
                    <button class="button">Save Address</button>
                </div>
            </fieldset>
        }
    </div>
</div>