@model WalkerGreenbank.Modules.PressMembers.Areas.PressMembers.ViewModels.PressRegisterInputViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Thanks for registering your interest</h2>
<p>
    One of our representatives will review your request and you will be notified in due course.
    Access to the press area will not be possible until your account has been reviewed and accepted.
</p>