/* IE8 uses \0 */
@media all\0 {
    .scroller {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }

    .galleryContainer { overflow: hidden; }
}

/* IE8 uses \0 */

@media all and (monochrome: 0) {
    .dude { color: yellow\9; }
}

/* IE9 uses \9 */

.errorSearch .row .large-10 { width: 69% !important; }

.productDetails { padding: 0 2em 2em; }

.lt-ie9 .rotatable-handle { display: none !important; }

.lt-ie9 .productList .item.selected { background-position-y: 228px; }

.lt-ie9 .productCollections .item.selected { background-position-y: 214px; }

.lt-ie9 .morrisHistory {
    left: 220px;
    top: 20px;
}

.lt-ie9 #siteLinks ul li a { font-size: 11px; }

.lt-ie9 .quickview-object, .lt-ie9 .quickview-bd {
    float: left;
    width: 50%;
}

.lt-ie9 .search-toggle { width: 100px; }

.lt-ie9 .search-toggle i.search { display: block !important; }

.lt-ie9 .search-toggle span {
    line-height: 10px;
    position: static;
}